<div class="text-center">
    <h2>{{title}} <span>Posted by {{user.name}}  on {{format_date date_created}}</span></h2>
    <p>{{content}}</p>

    <p>
        <button class="btn btn-secondary">Blog</button>
    </p>
</div>

<div class="blog" id="blog">
    <div class="row justify-content-end blog-title">
        <div class="col-6">
            <h2>
                <a href="blog/{{id}}" data-id-put="{{blog.id}}">{{title}}</a>
            </h2>
        </div>
        <div class="col-6 mt-2">
            <!-- Pass date_created value to the helper function -->
            <p>Posted by {{user.name}} on {{format_date date_created}}</p>
        </div>
    </div>
    <div class="row blog-content">
        <div class="col-12">
            <p>
                {{content}}
            </p>
        </div>
    </div>
</div>